@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background-color: #464949;
  background-image: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  color: #ffffff;
}

select {
  @apply focus:outline-none
}